.main {
    width: 100%;
    height: auto;
    padding: 10rem 10rem 0;
    display: flex;
    flex-direction: row;

    &__img {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        object-fit: cover;

        img {
            max-width: 100%;
            height: 100%;
        }
    }

    &__text {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        gap: 4.2rem;

        h1 {
            display: flex;
            margin: 0;
            text-align: left;
        }

        button {
            padding: 2.2rem 3.6rem;

            font-size: 2.4rem;
            font-weight: 600;
            line-height: 2.9rem;
            text-align: center;
            color: #0074FF;
            background: none;
            transition: .5s;

            &:hover {
                background-color: $color-001;
                color: $color-003;
                cursor: pointer;
                box-shadow: 1px 3px 5px $color-002;
            }
        }
    }

}

@media screen and (max-width: 1024px) {
    .main {
        padding: 5rem 2rem 0;

        &__text {
            gap: 3rem;
        }
    }
}

@media screen and (max-width: 937px) {
    .main {
        &__img {
            width: 50%;
        }
        &__text {
            width: 50%;
        }
    }
}

@media screen and (max-width: 768px){
    .main {
        width: 100%;
        flex-direction: column;
        padding: 1rem;

        &__img {
            width: 100%; 
            height: 25rem;  
            justify-content: center;
        }

        &__text {
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2rem;

            h1 {
                text-align: center;
            }

            p {
                text-align: center;
            }

            button {
                padding: .8rem 1.4rem;   
                font-size: 1.4rem;
                line-height: 2rem;
            }
        }
    }
}