.location {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    h1 {
        position: relative;
        text-align: center;
    }

    p {
        text-align: center;
        padding: 0 20rem;
    }

    &__map {
        width: 975px;
        height: 494px;
        margin: 8rem auto;
        position: relative;

        background: #E2E0E0;
        box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.2);

        #gmap_canvas {
            width: 100%;
            height: 100%;
        }
    }

    svg {
        width: 80rem;
        height: 80rem;
        position: absolute;
        top: 0;
    }
}

@media screen and (max-width: 1024px) {
    .location {

        &__map {
            width: 80%;
            height: 35rem;
            margin: 3rem auto;
        }
    }
}

@media screen and (max-width: 768px) {
    .location {
        p {
            padding: 0 3rem;
        }

        svg {
            width: 100%;
        }
    }
}

@media screen and (max-width: 540px) {
    .location {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;

        h1 {
            text-align: center;
        }

        p {
            text-align: center;
            padding: 0;
        }

        &__map {
            width: 100%;
            height: 30rem;
            margin: 3rem auto;
        }

        svg {
            display: none;
        }
    }
}