$font-h1-lg: 4.8rem;
$line-height-h1-lg: 5.9rem;
$font-h1-sm: 3rem;
$line-height-h1-sm: 3rem;

$font-h2-lg: 3.6rem;
$line-height-h2-lg: 4.4rem;
$font-h2-md: 2.6rem;
$line-height-h2-md: 3rem;

$font-p-lg: 3.6rem;
$line-height-p-lg: 4.4rem;
$font-p-md: 2.6rem;
$line-height-p-md: 3.4rem;
$font-p-sm: 1.8rem;
$line-height-p-sm: 2.2rem;

$color-001: #1A1A1A;
$color-002: #595959;
$color-003: #FFFFFF;