#section-b {
    background: #F5F5F5;
    width: 100%;
    padding: 5px;
}

#section-c {
    background: white;
    width: 100%;
    padding: 5px;
}

#div-01 {
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    float: right;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 40px;
}

#div-01 p{
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 2rem;
}

#div-01 h4 {
    font-size: 2.5rem;
    line-height: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#div-01 h5 {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
}

#div-01a {
    background: rgb(145, 248, 205);
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    border-radius: 20px;
}

#div-01a p {
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: none;
    letter-spacing: 0.1rem;
    font-size: 2rem;
}

#div-01b {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

#div-01b1 {
    background: white;
    border: 5px solid coral;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
}

#div-01b1 a {
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 10px;
    color: coral;
    margin-left: auto;
    margin-right: auto;
}

#div-01b1:hover {
    background: coral;
    border: 5px solid white;
    border-radius: 40px;
}

#div-01b1 a:hover {
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 10px;
    color: white;
}

#div-02 {
    background: transparent;
    width: 35%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    float: right;
    display: flex;
    flex-direction: column;
}

#div-02 img {
    border: 10px solid rgb(7, 221, 42);
    border-radius: 100%;
    filter: drop-shadow(6px 2px 10px rgb(112, 227, 160));
}

.div-04 {
    background: transparent;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.div-05 {
    background: transparent;
    width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding: 20px;
}

.div-05 img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
}

.div-05 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
}

#div-00c {
    background: url(../img/blue.jpg);  /* rgb(182, 160, 190)*/
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    border-radius: 20px;
    filter: drop-shadow(4px 2px 5px rgb(49, 43, 226));
}

.div-01c {
    width: 20%;
    height: 250px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    float: left;
}

.div-02c {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 20px;
    float: left;
}

.div-01c h2 {
    color: black;
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.div-01c p {
    color: black;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.div-02c h1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 5rem;
    color: blueviolet;
}

.div-03c {
    width: 80%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background: rgb(36, 20, 69);
    filter: drop-shadow(4px 2px 6px rgb(59, 200, 228));
}

.div-03c a {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.div-03c a:hover {
    color:  rgb(36, 20, 69);
}

.div-03c:hover {
    background: white;
    border: 5px solid  rgb(36, 20, 69) ;
}


@media (max-width: 1257px) {
    #div-02 {
        float: none;
    }

    .div-01c {
        width: 32%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .div-01c h2 {
        font-size: 1.8rem;
    }

    .div-01c p {
        font-size: 1.5rem;
    }
}

@media (max-width: 1135px) {
    #div-00c {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    } 
}

/* Tablet */

@media (max-width: 822px) {
    #div-01 {
        width: 80%;
        height: auto;
        position: unset;
        padding: 0;
        float: none;
    }

    #div-01 {
        margin-top: 0;
    }

    .div-03 h2 {
       font-size: 4rem;
    }

    #div-01 p, h5 {
        font-size: 1.5rem;
    }

    #div-01 h4 {
        font-size: 2rem;
    }

    #div-02, #div-01a, #div-01b {
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .foto-perfil {
        margin-left: auto;
        margin-right: auto;
    }

    #div-01a p {
        font-size: 1.5rem;
    }

    .div-04 {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        float: left;
        padding: 0;
    }

    .div-05 {
        width: 25%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .div-05 img {
        min-width: 50px;
        width: 80%;
        height: auto;
    }

    .div-05 h3 {
        font-size: 1.5rem;
    }

    #div-00c {
        width: 97%;
        height: auto;
        margin: 10px;
        padding: 0;
        float: left;
        display: block;
    }
    
    .div-01c {
        width: 32%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    .div-03c {
        width: 97%;
        height: auto;
        margin: 10px;
    }
    .div-03c a {
        font-size: 1.5rem;
    }

    .div-01c h2 {
        font-size: 1.5rem;
    }

    .div-01c p {
        font-size: 1.3rem;
    }
}


/* Smartphone */ 

@media (max-width: 425px) {
    #div-01, #div-01a, #div-01b, #div-02, #div-00c, .div-03c {
        width: 100%;
        float: none;
        padding: 20px;
        min-width: 360px;
    }
    
    #div-02 img {
        width: 80%;
        height: auto;

    }
    
    #div-01b1 a {
        font-size: 2rem;
        text-align: center;
        margin: auto;
    }
   
    #div-01b1 a:hover {
        font-size: 2rem;
    }

    .div-03 h2 {
        font-size: 3rem;
    }

    .div-05 h3 {
        font-size: 1rem;
    }

    #div-00c {
       display: table;
       margin-left: 0;
    }

    .div-01c {
        width: 50%;
        display: flex;
        float: right;
    }

    .div-02c {
        display: block;
    }

    .div-01c h2 {
        font-size: 1.5rem;
    }

    .div-02c h1{
        font-size: 3rem;
    }

    .div-03c {
        padding: 0;
        width: 95%;
    }

    .div-03c a {
        font-size: 1.5rem;
    }

}
