/* 
	Arquivo CSS geral com estilos dos elementos do header, nav, body, article e footer gerais
*/

* {
  box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-size: 62.5%; /* equivalente a 10px */
	font-family: 'Open Sans', sans-serif;
}

header {
  background: url(../img/black.jpg);
  width: 100%;
  padding: 5px;
  color: white;
  height: 110px;
  display: flex;
  margin: 5px;
}

#logo-header {
	width: 10%;
	float: left;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#text-header {
	width: 90%;
	float: right;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

header h2 {
	font-size: 5rem;
	line-height: 5rem;
	text-align: center;
}

header p {
	font-size: 2rem;
	line-height: 4rem;
	text-align: center;
}

header a {
	float: left;
	width: 150px;
	display: block;
}

header img:hover{
	border: 5px solid black;
}

.main-div {
	width: 100%; /*380px*/
	height: auto;
	margin: 5px;
}

nav {
	justify-content: space-around;
	align-items: center;
}

nav ul {
	background: #333;
	width: 100%;
	height: auto;
	padding: 5px;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

nav li, a {
	font-size: 1.8rem;
	line-height: 1.5;
	text-decoration: none;
	color: white;
	letter-spacing: 0.1rem;
	padding: 10px;
	margin-right: 32px;
}

nav li, a:hover {
	color: rgb(7, 221, 42);
	font-size: 2rem;
}

.div-00 {
    background: transparent;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
	margin-top: 30px;
	margin-bottom: 20px;
}

.div-00 h2 {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    letter-spacing: 0.2rem;
    line-height: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 3rem;
	line-height: 1.5;
	letter-spacing: 0.1rem;
	padding: 5px;
	color: red;
}

h2 {
	font-size: 3rem;
	line-height: 1.5;
	letter-spacing: 0.1rem;
	padding: 5px
}

li {
	font-size: 2rem;
	line-height: 1.5;
	letter-spacing: 0.1rem;
	padding: 5px
}

dt {
	font-size: 2rem;
	line-height: 1.5;
	letter-spacing: 0.1rem;
	padding: 5px
}

dd {
	font-size: 1.5rem;
	line-height: 1.5;
	letter-spacing: 0.1rem;
	padding: 5px
}

p {
	font-size: 1.5rem;
	text-align: justify;
	line-height: 1.5;
	letter-spacing: 0.1rem;
}


article {
  padding: 20px;
  width: 75%;
  float: right;
}

article h3 {
	font-size: 3.2rem;
	text-align: center;
} 

article h5 {
	font-size: 2rem;
	color: gray;
	text-align: center;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background: url(../img/black.jpg);
  padding: 20px;
  color: white;
  font-size: 1.8rem;
}

footer p {
	text-align: center;
}

#logo {
	float: left;
	position: relative;
	width: 130px;
	height: 80px;
}

@media (max-width: 1257px) {
	.main-div a {
		font-size: 1.5rem;
	}
}

@media (max-width: 940px) {
	header {
		height: auto;
	}
	#text-header h2 {
		font-size: 4rem;
		line-height: 3.5rem;
	}

	#text-header p {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	#logo-header img {
		width: 130px;
		height: 50px;
	}

	.main-div a {
		font-size: 1.5rem;
	}

	nav li {
		width: 20%;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Tablet */

@media (max-width: 822px) {
	header, section, .div-00 {
		width: 99%;
		height: auto;
		padding: 0;
	} 
	
	#logo-header {
		width: 20%;
		margin: 0;
		position: relative;
	}

	#logo-header img {
		width: 130px;
		height: 50px;
	}
	
	#text-header {
		width: 70%;
		position: relative;
	}

	#text-header h2 {
		font-size: 3rem;
		line-height: 4rem;
	}

	#text-header p {
		font-size: 1rem;
		line-height: 1rem;
	}

	nav {
		width: 100%;
		height: auto;
	}

	nav ul {
		display: flex;
	}

	.div-00 h2 {
		font-size: 4rem;
	}

}

@media (max-width: 785px) {
	nav {
		width: 100%;
		height: auto;
	}

	nav ul {
		display: block;
		
	}

	.main-div a {
		font-size: 1.5rem;
	}

	nav li {
		width: auto;
		padding: 0;
		margin: 0;
	}
}

@media (max-width: 520px) {
	#text-header h2 {
		font-size: 2rem;
		line-height: 3rem;
	}

	#text-header p {
		font-size: 1rem;
		line-height: 1rem;
	}

	#logo-header img {
		width: 80px;
		height: 50px;
	}
}

/* Smartphone */
@media (max-width: 425px) {
	header, section, .main-div, .div-00 {
		width: 100%;
		min-width: 360px;
		height: auto;
	} 
	
	#logo-header {
		width: 30%;
	}
	
	#text-header {
		width: 70%;
		position: relative;
	}

	.main-div a {
		font-size: 1rem;
	}

	.div-00 h2 {
		font-size: 3rem;
	}

}
