#fundo-01 {
    background: url(../img/background-00.png);
    background-attachment: fixed;
    background-repeat: no-repeat ;
    background-size: 100%;
}

#list-00 h1 {
    color: rgb(7, 221, 42);
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    letter-spacing: 0.2rem;
    line-height: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    position: static;
}

.list-01 {
    background: black;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.list-01 h2 {
    text-align: center;
    font-size: 3rem;
    line-height: 5rem;
    font-weight: bold;
    color: rgb(7, 221, 42);
    font-family: Arial, Helvetica, sans-serif;
}

.list-02 {
    background: rgba(35, 35, 59, 1);
    opacity: 0.8;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.list-02 li, dl {
    font-size: 2rem;
    margin-left: 80px;
    line-height: 2rem;
    font-weight: bold;
    color: white;
}


.list-03 {
    background: black;
    width: 99%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    float: right;
}

.list-03 h2 {
    text-align: center;
    font-size: 3rem;
    line-height: 5rem;
    font-weight: bold;
    color: rgb(7, 221, 42);;
    font-family: Arial, Helvetica, sans-serif;
}

.list-04 {
    background: transparent;
    width: 99%;
    height: 60px;
    margin: 10px;
    margin-top: 3px;
    margin-bottom: 30px;
    float: right;
    display: flex;
}

.list-04 nav {
    display: flex;
    width: 100%;
    padding: 5px;
    background: transparent;
}

.list-05 {
    background: rgb(7, 221, 42);
    border: 5px solid green;
    width: 200px;
    height: 40px;
    margin: 5px;
}

.list-05:hover {
    background: white;
    border: 5px solid rgb(7, 221, 42);
    color: rgb(7, 221, 42); 
}

.list-05 a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1rem;
    padding: auto;
    margin: auto;
    text-align: center;
    display: table;
}

.list-05:hover a {
    color: rgb(7, 221, 42); 
}
