#tab-sec-02 {
	background-color: #b2d0e4;
	padding: 3%;
	width: 100%;
}

table {
	width: 97%;
	border-collapse: collapse;
	text-align: center;
	table-layout: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.table-01 {
	width: 45%;
}

.table-01 th{
	background-color: rgb(27, 1, 100);
	border: 1px solid white;
}

.table-01 td{
	font-size: 1.5rem;
	border: 1px solid white;
}

th {
	height: 50px;
	background-color: #0099FF;
	color: white;
	font-weight: bold;
}

tr {
	background-color: white;
}

tr:hover {
	background-color: coral;
}

table th, td {
	padding: 15px;
	border: 1px solid #99FFFF;
	font-size: 2rem;
	vertical-align: middle;
}

.title-row td {
	font-weight: bolder;
	background-color: #BFEFFF;
	height: 50px;
	padding-right: 25px;
	padding-left: 25px;
}

.row-01 td{
	background-color: rgb(4, 94, 94);
	color: white;
	font-size: 1.8rem;
	font-weight: bold;
}

.produto {
	font-weight: bolder;
}

.div-tab01 {
	background: transparent;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    float: right;
    position: relative;
}

.div-tab01 h3 {
	font-size: 3.3rem;
	text-align: center;
}

.div-tab01 p {
	font-size: 2rem;
	text-align: center;
	color: gray;
	font-weight: bold;
}

@media (max-width: 1060px) {
	.main-table th, td {
		font-size: 1.5rem;
	}
}

@media (max-width: 916px) {
	.main-table th, td {
		padding: 5px;
		height: auto;
	}

	.title-row td {
		padding: 5px;
		height: auto;
	}
}

@media (max-width: 545px) {
	.main-table th, td, .row-01 td, .table-01 td {
		font-size: 1rem;
	}

	.div-tab01 h3 {
		font-size: 1.5rem;
	}

	.div-tab01 p {
		font-size: 1rem;
	}
}
	

/* Smartphone */ 

@media (max-width: 400px) {
	.main-table {
		min-width: 360px;
	}

	.main-table th, td, .table-01 td{
		font-size: 0.8rem;
	}

	/* ===Função a pricipio desabilitada que muda a posição da tabela===
	
	.table-action thead {
		display: none;
	}

	.table-action td:not(:first-child) {
		display: block;
	}

	.table-action tr {
	border-bottom: 1px solid #99FFFF;
	}

	.table-action td {
		border: 0;
	} */
}